# Copy this file, rename it .env, and add your own credentials on heroku

## Your Account SID from www.twilio.com/user/account
TWILIO_ACCOUNT_SID=SomeLongString

## Your Auth Token from www.twilio.com/user/account
TWILIO_AUTH_TOKEN=AnotherLongString

## From which number? Needs to be one that's connected to your account. This is my trial number.
TWILIO_ORIGIN_NUMBER=447974000000

## My own phone number
TWILIO_DESTINATION_NUMBER=440794333333

## where to getch the twiml xml file
TWIML_URL=https://dl.dropboxusercontent.com/u/321151/trollophone/call.xml